body{
justify-items: center;
padding-top: 40px;
padding-bottom: 40px;
font-family: 'Geist', sans-serif;
}
h1,h2{
margin: 0;
}
p{
margin: 0;
}
.background-container{
background-image: ural("./Untitled images/background pattern.svg");
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
z-index: -1;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
opacity: 0.5;
}
.masthead-container{
display: flex;
flex-direction: row;
justify-content: space-around;
border: 2px solid #E9EAEB;  
color: #E9EAEB;
border-radius: 16px;
padding-top: 12px;
padding-bottom: 12px;
width: 1000px;
align-items: center;
box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
margin-top: 12px;
margin-bottom: 24px;
position: fixed;
top: 0%;
left: 15%;
right: 15%;
background-color: #FFFFFF;

}
.logo-container{
display: inline;

}
.masthead-links {
display: flex;
gap: 20px;
}
.Masthead_content {
color: #535862;
text-decoration: none;
cursor: pointer;
}
.Masthead_content:hover {
opacity: 0.8;
text-decoration: underline;
}
.button-container{
display: flex;
flex-direction: row;
gap: 16px
;
}
.masthead-button-1, .masthead-button-2 {
display: flex;
padding: 10px 14px;
justify-content: center;
align-items: center;
gap: 4px;
cursor: pointer;
border: 0.5px;
}
.masthead-button-1{
border-radius: 8px;
border: 1px solid var(--Gray-300, #D5D7DA);
background: var(--Base-White, #FFF);
box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.masthead-button-1:hover{
background-color: black;
color: #FFF;
transition: 0.9ms;
}
.masthead-button-2{
border-radius: 8px;
border: 2px solid var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
background: var(--Gray-950, #0A0D12);
box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: #FFF;
}
.hero-section,.social-proof{
justify-items: center;
margin-top: 96px;
margin-bottom: 96px;
}
.hero-section{
margin-top: 40px;
}
.pill-wrapper,.nested-pill{
display: flex;
padding: 4px 8px 4px 4px;
align-items: center;
gap: 12px;
border-radius: 10px;
border: 1px solid var(--Gray-300, #D5D7DA);
background: var(--Base-White, #FFF);
box-shadow: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
color: #414651;
}
.pill-wrapper{
width: 380px;
margin-top: 100px;
}
.hero-title{align-self: center;
color: #181D27;
letter-spacing: -1.2px;
font-size: 72px;
font-weight: 600;
display: block;
margin-bottom: 12px;
margin-top: 24px;
}
.hero-description{
color: #535862;
font-size: 16px;
font-weight: 400;
width: 700px;
align-items: center;
text-align: center;
margin-bottom: 40px;
}
.hero-image-container{
width: 100%;
margin-top: 40px;
margin-bottom: 40px;
}
.social-proof-body{
color: #535862;
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
}
.social-proof-logo{
display: flex;
flex-direction: row;
gap: 24px;
justify-content: space-between;
align-items: center;
}
.social-logo{
width: 150px;
}
.features{
background-color: #FAFAFA;
width: 100%;
padding-top: 40px;
padding-bottom: 40px;
justify-items: center;

}
.sub-copy{
font-size: 16px;
font-weight: 400;
color: #6941C6;
}
.features-title{
font-size: 36px;
font-weight: 600;
letter-spacing: -2px;
margin-top: 12px;
margin-bottom: 16px;
text-align: center;
color: #181D27;
}
.features-body{
font-size: 16px;
font-weight: 400;
color: #535862;
}
.features-container{
display: flex;
flex-direction: column;
}
.features-wrapper{
display: flex;
flex-direction: row;
margin-top: 40px;
}
.features-content{
display: flex;
flex-direction: column;
gap: 16px;
justify-content: center;
margin-top: 24px;
margin-bottom: 24px;
width: 384px;
vertical-align: top;
}
.features-icon{
width: 48px;
}
.features-content-title{
font-size: 20px;
font-weight: 600;
width: 384px;
align-items: center;
}
.features-content-body{
font-size: 16px;
font-weight: 400;
align-items: center;
display: block;
width: 350px
}
.pricing{
padding-top: 40px;
justify-items: center;
}
.pricing-detail-section{
display: flex;
flex-direction: row;
gap: 16px;
}
.pricing-container{
border-radius: 16px;
border: 1px solid #E9EAEB;
background: var(--Base-White, #FFF);
box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03), 0px 2px 2px -1px rgba(10, 13, 18, 0.04);
width: 384px;
padding: 32px;
margin-top: 40px;
}
.pricing-name-wrapper{
border: #E9EAEB;
display: flex;
flex-direction: column;
}
.pricing-name{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.plan-name{
color: var(--Gray-600, #535862);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.plan-pill{
display: flex;
padding: 4px 12px;
align-items: center;
border-radius: 16px;
border: 1px solid var(--Brand-200, #E9D7FE);
background: var(--Brand-50, #F9F5FF);
}
.pricing-value{
display: flex;
flex-direction: row;
color: var(--Gray-900, #181D27);
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: -1.2px;
gap: 12px;
}
.price-duration{
vertical-align: baseline; 
color: var(--Gray-600, #535862);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}
.tag{
margin-top: 16px;
margin-bottom: 16px;
font-size: 16px;
font-weight: 400;
color: #535862;
}
.button-wrapper{
display: flex;
flex-direction: row;
gap: 16px;
}
.get-started-button{
display: flex;
padding: 12px 18px;
justify-content: center;
align-items: center;
gap: 6px;
align-self: stretch;
border-radius: 8px;
border: 2px solid var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
background: var(--Gray-950, #0A0D12);
box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: white;
cursor: pointer;
height: 48px;
}
.chat-to-sales-button{
display: flex;
padding: 12px 18px;
justify-content: center;
align-items: center;
gap: 6px;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--Gray-300, #D5D7DA);
background: var(--Base-White, #FFF);
/* Shadows/shadow-xs-skeuomorphic */
box-shadow: 0px 0px 0px 1px rgba(10, 13, 18, 0.18) inset, 0px -2px 0px 0px rgba(10, 13, 18, 0.05) inset, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
cursor: pointer;
height: 48px;
}
.pricing-details-container{
display: flex;
flex-direction: column;
margin-top: 24px;
}
.pricing-features{
color: var(--Gray-900, #181D27);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
align-self: stretch;
}
.pricing-subcopy{
color: var(--Gray-600, #535862);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.features-pricing-wrapper{
display: flex;
flex-direction: row;
gap: 8px;
align-content: baseline;
margin-top: 12px;
margin-top: 12px;
}
.testimonial{
align-content: start;
margin-top: 80px;
width: 100%;

}
.testimonial-container{
display: flex;
flex-direction: row;
gap: 16px;
justify-content: space-between;
margin-left: 40px;
margin-right: 40px;
}
.testimonial-content-wrapper{
display: flex;
flex-direction: column;
;
}
.testimonial-title{
color: var(--Gray-900, #181D27);
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 44px; /* 122.222% */
letter-spacing: -0.72px;
align-items: stretch;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.supporting-text{
color: #535862;
font-size: 16px;
font-weight: 400;
padding-top: 12px;
}
.testimonial-button-wrapper{
display: flex;
flex-direction: row;
gap: 12px;
}
.images-wrapper{
display: flex;
flex-direction: row;
margin-top: 40px;
margin-left: 40px;
margin-right: 40px;
gap: 16px;
overflow-x: scroll;
;

}
.image-container{
width: 360px;
position: relative;
justify-items: center;
}
.avatar-img{
width: 360px;
}
.glassy-container{
display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
border-radius: 12px;
background: linear-gradient(145deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
border: 1px solid rgba(255, 255, 255, 0.3);
backdrop-filter: blur(8px);
box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
width: 280px;
position: absolute;
bottom: 120px;
left: 50%;
transform: translate(-50%, 50%);
}
.glassy-container-edited{
display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
border-radius: 12px;
background: linear-gradient(145deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
border: 1px solid rgba(255, 255, 255, 0.3);
backdrop-filter: blur(8px);
box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
width: 280px;
position: absolute;
bottom: 150px;
left: 50%;
transform: translate(-50%, 50%);
}
.stars-images {
height: 20px;
}

.name-title {
color: #FFFFFF;
font-size: 30px;
font-weight: 600;
margin: 0;
}

.workplace-name {
color: white;
font-size: 18px;
margin: 0;
}

.workplace-type {
color: white;
font-size: 16px;
margin: 0;
}